:root {
    --white: #ffffff;
    --white-selected: #bababa;
    --main-first: #024b6a;
    --main-second: #155083;
    --main-third: #0f6c73;
    --history-first: #080e15;
    --history-second: #273245;
    --history-third: #343e4e;
    --history-fourth: #434c5f;
    --history-fifth: #717a98;
    --history-text: #c8a579;
    --structure-first: #0b1721;
    --structure-second: #123245;
    --structure-third: #1b4d60;
    --structure-fourth: #1b404c;
    --statistics-first: #141135;
    --statistics-second: #261b5b;
    --statistics-third: #392783;
    --statistics-fourth: #5d3fcc;
    --statistics-fifth: #c687f5;
    --structure-text: #c8a579;
    --theme: #032232;
    --black: #171717;
}

* {
    font-family: "DM sans", sans-serif;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
    text-align: center;
    z-index: 2;
    text-transform: uppercase;
    font-size: 40px;
}

h2 {
    margin: 0;
    z-index: 2;
    text-transform: uppercase;
    font-size: 28px;
}

h3 {
    margin: 0;
    text-align: center;
    z-index: 2;
    text-transform: uppercase;
    font-size: 14px;
}

h4 {
    margin: 0;
    text-align: center;
    z-index: 2;
    font-size: 18px;
}

.logo {
    width: 20px;
    height: 20px;
    background-color: black;
}

.call-to-action {
    padding: 10px 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #d70c4f;
    z-index: 2;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.main-1st {
    background-color: var(--main-first);
}

.main-2nd {
    background-color: var(--main-second);
}

.main-3d {
    background-color: var(--main-third);
}
.history1 {
    background-color: var(--history-first);
}
.history2 {
    background-color: var(--history-second);
}
.history3 {
    background-color: var(--history-third);
}
.history4 {
    background-color: var(--history-fourth);
}
.history5 {
    background-color: var(--history-fifth);
}
.structure1 {
    background-color: var(--structure-first);
}
.structure2 {
    background-color: var(--structure-second);
}
.structure3 {
    background-color: var(--structure-third);
}
.structure4 {
    background-color: var(--structure-fourth);
}
.statistics1 {
    background-color: var(--statistics-first);
}
.statistics2 {
    background-color: var(--statistics-second);
}
.statistics3 {
    background-color: var(--statistics-third);
}
.statistics4 {
    background-color: var(--statistics-fourth);
}
.statistics5 {
    background-color: var(--statistics-fifth);
}

.border-white {
    border-bottom: 2px solid var(--white);
}
.border-black {
    border-bottom: 2px solid var(--theme);
}

.white {
    color: var(--white);
}
.black {
    color: var(--theme);
}

.left {
    text-align: end;
}


.arrow-down {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}
.arrow-up {
    transform: rotate(360deg);
    transition: transform 0.2s ease;
}
.hidden {
    /*height: 0;*/
    /*transition: 0.2s;*/
    /*opacity: 0;*/
    display: none;
}

.thin {
    font-weight: lighter;
}

.box {
    width: 100%;
    height: 80vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 2px white solid;
    padding: 20px 0;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 30px;
    background-color: #43aebc;
    border-radius: 5px;
    margin: -15px auto;
    z-index: 30;
    position: relative;
}
.box-header {
    text-align: center;
    margin: 0 20px;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.box-container {
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.box-content {
    width: 500px;
}
.box-list {
    list-style-type: disc;
}
.box-list li {
    margin: 5px 0;
}
.history-text {
    color: var(--history-text);
}
.box-header-group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-header-id {
    width: 40px;
    height: 50px;
    background-color: var(--history-text);
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}
.box-image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-stats {
    width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.box-stats img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 4px solid var(--history-text);
}
.image-right {
    margin: 0 0 0 200px;
}
.image-left {
    margin: 0 200px 0 0;
}
body.modal-overlay {
    overflow: hidden;
}
.modal-overlay {
    width: 100%;
    height: 100%;
    z-index: 2000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-hidden {
    display: none;
}
.image-modal {
    width: 550px;
    height: 700px;
}
.image-modal img {
    max-width: 100%;
    max-height: 100%;
}
body.modal-active {
    height: 100vh;
    overflow-y: hidden;
}


